@{
    ViewData["Title"] = "Quản lý tài khoản khách hàng";
}
@model Clothing_Store.Areas.Admin.Models.AdminUpdateAcccountViewModel
@{
    AdminAccountDetailsViewModel account = Model.details;
}

<div class="container pt-sm-5 px-sm-3 px-md-5 pt-4">
    <div class="main-body mx-3 mx-sm-0">
        <div class="row">
            <div class="col-lg-4">
                <div class="__ac-page-card">
                    <div class="card-body px-4">
                        <div class="d-flex flex-column align-items-center text-center">
                            <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="Admin" style="width: 90px; height: 90px; border-radius: 50%">
                            <div class="my-3">
                                <h4>@account.UserName</h4>
                                <div>
                                    <p class="text-secondary">@account.Email</p>
                                </div>
                                <div class="my-2">
                                    <div class="text-dark fs-5">Họ và tên: @(account.Fullname != null ? account.Fullname : "Chưa cập nhật")</div>
                                </div>
                                <div class="my-2">
                                    <div class="text-dark fs-5">Số điện thoại: @(account.Phone != null ? account.Phone : "Chưa cập nhật")</div>
                                </div>
                            </div>
                        </div>
                        <ul class="list-group list-group-flush border-top">
                            <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                <span> Tổng số hóa đơn:</span>
                                <span class="text-secondary">@account.TotalOrder hóa đơn</span>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                <span> Tổng tiền:</span>
                                <span class="text-secondary">@(account.TotalPayment != 0 ? account.TotalPayment.ToString("#,###", System.Globalization.CultureInfo.GetCultureInfo("vi-VN")) : "0") đ</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="__ac-page-card">
                    <form asp-action="Update" asp-route-id="@account.ID">
                        <div class="card-body">
                            <div class="row m-1 mt-3 m-sm-3">
                                <div class="col-sm-3 align-self-center">
                                    <h6>Mã khách hàng</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    <input disabled type="text" class="form-control" value="@account.ID">
                                </div>
                            </div>
                            <div class="row m-1 mt-3 m-sm-3">
                                <div class="col-sm-3 align-self-center">
                                    <h6>Tên tài khoản</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    <input disabled type="text" class="form-control" value="@account.UserName">
                                </div>
                            </div>
                            <div class="row m-1 mt-3 m-sm-3">
                                <div class="col-sm-3 align-self-center">
                                    <h6>Họ và tên</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    <input asp-for="updateModel.Fullname" placeholder="Họ và tên" type="text" class="form-control AcUpdateInput" value="@account.Fullname">
                                </div>
                            </div>
                            <div class="row m-1 mt-3 m-sm-3">
                                <div class="col-sm-3 align-self-center">
                                    <h6>Email</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    <input asp-for="updateModel.Email" placeholder="Email" type="text" class="form-control AcUpdateInput" value="@account.Email">
                                </div>
                            </div>
                            <div class="row m-1 mt-3 m-sm-3">
                                <div class="col-sm-3 align-self-center">
                                    <h6>Số điện thoại</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    <input asp-for="updateModel.Phone" placeholder="Số điện thoại" type="text" class="form-control AcUpdateInput" value="@account.Phone">
                                </div>
                            </div>
                            <div class="row m-1 mt-3 m-sm-3">
                                <div class="col-sm-3 align-self-center">
                                    <h6>Địa chỉ</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    <input asp-for="updateModel.Address" placeholder="Địa chỉ" type="text" class="form-control AcUpdateInput" value="@account.Address">
                                </div>
                            </div>
                            <div class="row m-1 mt-3 m-sm-3">
                                <div class="col-sm-3 align-self-center">
                                    <h6>Số thẻ</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    <input asp-for="updateModel.CardNumber" placeholder="Số thẻ" type="text" class="form-control AcUpdateInput" value="@account.CardNumber">
                                </div>
                            </div>
                            <div class="row m-1 mt-3 m-sm-3">
                                <div class="col-sm-3 align-self-center">
                                    <h6>CVV/CVV2</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    <input asp-for="updateModel.SecretNumber" placeholder="CVV/CVV2" type="text" class="form-control AcUpdateInput" value="@account.SecretNumber">
                                </div>
                            </div>
                            <div class="row m-1 mt-3 m-sm-3">
                                <div class="col-sm-3 align-self-center">
                                    <h6>Hạn sử dụng</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    <input asp-for="updateModel.ValidDate" placeholder="Hạn sử dụng" type="date" class="form-control AcUpdateInput" value="@(account.ValiDate.ToString("yyyy-MM-dd") != "0001-01-01" ? account.ValiDate.ToString("yyyy-MM-dd") : "")">
                                </div>
                            </div>
                            <div class="row m-1 mt-3 m-sm-3">
                                <div class="col-sm-3"></div>
                                <div class="col-sm-9 text-secondary">
                                    <input type="submit" class="btn btn-primary px-4 me-3 mt-3" value="Cập nhật thông tin">
                                </div>
                            </div>
                            <div class="row m-1 mt-3 m-sm-3">
                                <div asp-validation-summary="All" class="col-12 text-danger"></div>
                                <div class="col-12 text-danger AcUpdateMess">@ViewBag.acUpdateError</div>
                                <div class="col-12 text-success AcUpdateMess">@ViewBag.acUpdateSuccess</div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}

