@{
    ViewData["Title"] = "Product Details";
}

@model Clothing_Store.Models.ProductDetailViewModel


@if (Model != null)
{
    ProductDetailViewModel vm = Model;
    Image mainImg = vm.Images.FirstOrDefault();

    <section class="__section __product-detail">
        <div class="__details __container-md">
            <div class="__left">
                <div class="__main">
                    <img src="@mainImg.URL" alt="@mainImg.Name">
                </div>
                <div class="__thumbnails">
                    @foreach (Image img in vm.Images)
                    {
                        <div class="__thumbnail">
                            <img src="@img.URL" alt="@img.Name">
                        </div>
                    }
                </div>
            </div>
            <div class="__right">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb bg-body">
                        <li class="breadcrumb-item"><a asp-action="">Products</a></li>
                        <li class="breadcrumb-item active" aria-current="page">@vm.Name</li>
                    </ol>
                </nav>
                <h1>@vm.Name</h1>
                <div class="__rating-sold">
                    <div class="__rating">
                        @for (int i = 0; i < vm.Ratings; i++)
                        {
                            <i class="bx bxs-star"></i>
                        }

                        @for (int i = 0; i < 5 - vm.Ratings; i++)
                        {
                            <i class="bx bx-star"></i>
                        }
                    </div>
                    <div class="__divider">|</div>
                    <div class="__sold">
                        Đã bán: @vm.Sold
                    </div>
                </div>
                <div class="__price-detail">
                    @if (vm.Discount > 0)
                    {
                        <div class="__final-price">@string.Format("{0:#.000}", Convert.ToDecimal(@Math.Round((vm.Price - (vm.Price * ((double)vm.Discount / 100))))) / 1000)đ</div>
                        <div class="__original-price">@string.Format("{0:#.000}", Convert.ToDecimal(@vm.Price) / 1000)đ</div>
                        <div class="__discount-percent">-@vm.Discount%</div>
                    }
                    else if (vm.Discount == 0)
                    {
                        <div class="__final-price">@vm.Price</div>
                    }
                </div>
                <form method="post" asp-controller="Cart" asp-action="">
                    <div class="__select-block">
                        <div class="__select-title">Màu sắc</div>
                        <div class="__select-option">
                            <select>
                                <option value="Select Color" selected disabled>Chọn màu</option>
                                @foreach (string c in vm.Colors.Distinct())
                                {
                                    <option value="@c">@c</option>
                                }
                            </select>
                        </div>
                    </div>

                    <div class="__select-block">
                        <div class="__select-title">Kích thước</div>
                        <div class="__select-option">
                            <select>
                                <option value="Select Size" selected disabled>Chọn size</option>
                                @foreach (string s in vm.Sizes.Distinct())
                                {
                                    <option value="@s">@s</option>
                                }
                            </select>
                        </div>
                    </div>

                    <div class="__form">
                        <div class="d-flex align-items-center">
                            <div class="">
                                <input type="text" value="1">
                            </div>
                            <div class="">
                                <button type="submit" class="_btn">Thêm vào giỏ hàng</button>
                            </div>
                        </div>
                    </div>
                </form>

                <div class="__highlight-services">
                    <hr>
                    <div class="__highlight-services-items">
                        <div class="card">
                            <img src="~/images/icon1.png" class="card-img-top" alt="...">
                            <div class="card-body">
                                <p class="card-text">Đổi trả cực dễ chỉ cần số điện thoại</p>
                            </div>
                        </div>

                        <div class="card">
                            <img src="~/images/icon2.png" class="card-img-top" alt="...">
                            <div class="card-body">
                                <p class="card-text">60 ngày đổi trả vì bất kỳ lý do gì</p>
                            </div>
                        </div>

                        <div class="card">
                            <img src="~/images/icon3.png" class="card-img-top" alt="...">
                            <div class="card-body">
                                <p class="card-text">Giao hàng 2-5 ngày (có thể lâu hơn do Covid19)</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </section>

    <section class="__section-feature __container-md">
        <ul class="nav nav-tabs __nav-tab" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link active" id="detail-tab" data-bs-toggle="tab" data-bs-target="#detail" type="button" role="tab" aria-controls="detail" aria-selected="true">Chi tiết sản phẩm</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="rating-tab" data-bs-toggle="tab" data-bs-target="#rating" type="button" role="tab" aria-controls="rating" aria-selected="false">Đánh giá</button>
            </li>
        </ul>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active p-3 __product-detail-content" id="detail" role="tabpanel" aria-labelledby="detail-tab">
                @vm.Description
            </div>
            <div class="tab-pane fade d-flex align-items-center" id="rating" role="tabpanel" aria-labelledby="rating-tab">

                <!-- Rating Stars Box -->
                <div class='__rating-stars'>
                    <ul id='stars'>
                        <li class='__star' title='Poor' data-value='1'>
                            <i class='bx bx-star'></i>
                        </li>
                        <li class='__star' title='Fair' data-value='2'>
                            <i class='bx bx-star'></i>
                        </li>
                        <li class='__star' title='Good' data-value='3'>
                            <i class='bx bx-star'></i>
                        </li>
                        <li class='__star' title='Very Good' data-value='4'>
                            <i class='bx bx-star'></i>
                        </li>
                        <li class='__star' title='Excellent' data-value='5'>
                            <i class='bx bx-star'></i>
                        </li>
                    </ul>
                </div>
                <button class="_btn">Lưu đánh giá</button>
            </div>
        </div>
    </section>
}

<!-- Related -->
<section class="__section __featured">
    <div class="__top __container">
        <h1>Related Products</h1>
        <a asp-controller="Product" asp-action="" class="__view-more">Xem thêm</a>
    </div>

    <div class="__product-center __container">
        <div class="__product">
            <div class="__product-header">
                <img src="~/images/pic3.jpg" alt="">
                <ul class="icons">
                    <span><i class="bx bx-heart"></i></span>
                    <a asp-controller="Cart" asp-action="">
                        <span><i class="bx bx-shopping-bag"></i></span>
                    </a>
                    <span><i class="bx bx-search"></i></span>
                </ul>
            </div>
            <div class="__product-footer">
                @*<a asp-controller="Product" asp-action="Details" asp-route-id="@Model.id">*@
                <a asp-controller="Product" asp-action="Details" asp-route-id="5">
                    <h3>Boy’s T-Shirt</h3>
                </a>
                <div class="__rating">
                    <i class="bx bxs-star"></i>
                    <i class="bx bxs-star"></i>
                    <i class="bx bxs-star"></i>
                    <i class="bx bxs-star"></i>
                    <i class="bx bx-star"></i>
                </div>
                <h4 class="__price">$50</h4>
            </div>
        </div>
        <div class="__product">
            <div class="__product-header">
                <img src="~/images/pic4.jpg" alt="">
                <ul class="icons">
                    <span><i class="bx bx-heart"></i></span>
                    <a asp-controller="Cart" asp-action="">
                        <span><i class="bx bx-shopping-bag"></i></span>
                    </a>
                    <span><i class="bx bx-search"></i></span>
                </ul>
            </div>
            <div class="__product-footer">
                @*<a asp-controller="Product" asp-action="Details" asp-route-id="@Model.id">*@
                <a asp-controller="Product" asp-action="Details" asp-route-id="5">
                    <h3>Boy’s T-Shirt</h3>
                </a>
                <div class="__rating">
                    <i class="bx bxs-star"></i>
                    <i class="bx bxs-star"></i>
                    <i class="bx bxs-star"></i>
                    <i class="bx bxs-star"></i>
                    <i class="bx bx-star"></i>
                </div>
                <h4 class="__price">$50</h4>
            </div>
        </div>
        <div class="__product">
            <div class="__product-header">
                <img src="~/images/pic1.jpg" alt="">
                <ul class="icons">
                    <span><i class="bx bx-heart"></i></span>
                    <a asp-controller="Cart" asp-action="">
                        <span><i class="bx bx-shopping-bag"></i></span>
                    </a>
                    <span><i class="bx bx-search"></i></span>
                </ul>
            </div>
            <div class="__product-footer">
                @*<a asp-controller="Product" asp-action="Details" asp-route-id="@Model.id">*@
                <a asp-controller="Product" asp-action="Details" asp-route-id="5">
                    <h3>Boy’s T-Shirt</h3>
                </a>
                <div class="__rating">
                    <i class="bx bxs-star"></i>
                    <i class="bx bxs-star"></i>
                    <i class="bx bxs-star"></i>
                    <i class="bx bxs-star"></i>
                    <i class="bx bx-star"></i>
                </div>
                <h4 class="__price">$50</h4>
            </div>
        </div>
        <div class="__product">
            <div class="__product-header">
                <img src="~/images/pic2.jpg" alt="">
                <ul class="icons">
                    <span><i class="bx bx-heart"></i></span>
                    <a asp-controller="Cart" asp-action="">
                        <span><i class="bx bx-shopping-bag"></i></span>
                    </a>
                    <span><i class="bx bx-search"></i></span>
                </ul>
            </div>
            <div class="__product-footer">
                @*<a asp-controller="Product" asp-action="Details" asp-route-id="@Model.id">*@
                <a asp-controller="Product" asp-action="Details" asp-route-id="5">
                    <h3>Boy’s T-Shirt</h3>
                </a>
                <div class="__rating">
                    <i class="bx bxs-star"></i>
                    <i class="bx bxs-star"></i>
                    <i class="bx bxs-star"></i>
                    <i class="bx bxs-star"></i>
                    <i class="bx bx-star"></i>
                </div>
                <h4 class="__price">$50</h4>
            </div>
        </div>

    </div>
</section>
