
@{
    ViewData["Title"] = ViewBag.Title;
}

@model PaginatedList<Clothing_Store.Models.ProductViewModel>
<!-- All Products -->
<div class="container __section">
    <div>
        <h1>@ViewBag.Title</h1>
        <div class="m-5">
            <section id="products">

                <div class="__product-center">

                    @foreach (ProductViewModel item in Model)
                    {
                        <div class="__product">
                            <div class="__product-header">
                                <img src="~/uploads/product/@item.image.URL" alt="@item.image.Name">
                                @if (item.discount != 0) {
                                    <img style="width: 7rem; height: 5rem; position: absolute; top: 1%; right: 2%" src="~/images/sales.png" alt="discount">
                                    <span style="position: absolute; top: 6.5%; right: 9%; color: red; font-size: 1.4rem;">-@item.discount%</span>
                                }
                                <a asp-controller="Product" asp-action="Details" asp-route-id="@item.ID">
                                    <ul class="icons">
                                        <span><i class='bx bxs-show show-icons'></i></span>
                                    </ul>
                                </a>
                            </div>
                            <div class="__product-footer">
                                <a asp-controller="Product" asp-action="Details" asp-route-id="@item.ID">
                                    <h3>@item.Name</h3>
                                </a>
                                <div class="__rating">
                                    @for (int i = 0; i < item.ratings; i++)
                                    {
                                        <i class="bx bxs-star"></i>
                                    }

                                    @for (int i = 0; i < 5 - item.ratings; i++)
                                    {
                                        <i class="bx bx-star"></i>
                                    }
                                </div>
                                <h4 class="__price">@(item.Price.ToString("#,###", System.Globalization.CultureInfo.GetCultureInfo("vi-VN")))đ</h4>
                            </div>
                        </div>
                    }

                </div>

                <div class="__pagination">
                    <div class="">
                        @if (Model.PageIndex != 1)
                        {
                            <a asp-action="@ViewBag.Action"
                                asp-route-page="@(Model.PageIndex - 1)"
                                class="btn shadow-none p-0">
                                <span>
                                    <i class='bx bx-left-arrow-alt'></i>
                                </span>
                            </a>
                        }
                        @{
                            int rank = Model.PageIndex % 5 == 0 ? Model.PageIndex / 5 - 1 : Model.PageIndex / 5;
                        }
                        @for (int i = 1; i <= 5; i++)
                        {
                            if (Model.TotalPages != 1)
                            {
                                int pageNumber = i + (rank * 5);
                                if (pageNumber - 1 == Model.TotalPages) break;
                                <a asp-action="@ViewBag.Action"
                                    asp-route-page="@pageNumber"
                                    class="btn shadow-none p-0 @(pageNumber == Model.PageIndex ? "disabled" : "")">
                                    <span>
                                        @pageNumber
                                    </span>
                                </a>
                            }
                        }
                        @if (Model.PageIndex != Model.TotalPages && Model.TotalPages > 0)
                        {
                            <a asp-action="@ViewBag.Action"
                                asp-route-page="@(Model.PageIndex + 1)"
                                class="btn shadow-none p-0">
                                <span>
                                    <i class='bx bx-right-arrow-alt'></i>
                                </span>
                            </a>
                        }
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>



