@{
    ViewData["Title"] = "Trang chủ";
}

@model IEnumerable<Clothing_Store.Models.ProductViewModel>

<section class="__advert __section">
    <div class="__advert-center __container">
        <div class="__advert-box">
            <div class="__dotted">
                <div class="__content">
                    <h2>
                        Girls <br />
                        Clothing
                    </h2>
                    <h4>Worlds Best Brands</h4>
                </div>
            </div>
            <img src="~/images/advert1.png" alt="">
        </div>

        <div class="__advert-box">
            <div class="__dotted">
                <div class="__content">
                    <h2>
                        Summer <br />
                        Clothing
                    </h2>
                    <h4>Worlds Best Brands</h4>
                </div>
            </div>
            <img src="~/images/advert2.png" alt="">
        </div>

        <div class="__advert-box">
            <div class="__dotted">
                <div class="__content">
                    <h2>
                        Boys <br />
                        Clothing
                    </h2>
                    <h4>Worlds Best Brands</h4>
                </div>
            </div>
            <img src="~/images/advert3.png" alt="">
        </div>
    </div>
</section>

<!-- Featured -->
<section class="__feature-section __featured">
    <div class="__title">
        <h1>Sản phẩm bán chạy</h1>
        <div>
            <a asp-controller="Product" asp-action="" class="__view-more">Xem thêm</a>
        </div>
    </div>

    <div class="__product-center __container">
        @foreach (ProductViewModel item in Model)
        {
            <div class="__product">
                <div class="__product-header">
                    <img src="@item.image.URL" alt="@item.image.Name">
                    <ul class="icons">
                        <span><i class="bx bx-shopping-bag"></i></span>
                        <span><i class="bx bx-search"></i></span>
                    </ul>
                </div>
                <div class="__product-footer">
                    <a asp-controller="Product" asp-action="Detail" asp-route-id="@item.ID">
                        <h3>@item.Name</h3>
                    </a>
                    <div class="__rating">
                        @for (int i = 0; i < item.ratings; i++)
                        {
                            <i class="bx bxs-star"></i>
                        }

                        @for (int i = 0; i < 5 - item.ratings; i++)
                        {
                            <i class="bx bx-star"></i>
                        }
                    </div>
                    <h4 class="__price">@item.Price</h4>
                </div>
            </div>
        }


        <div class="__product">
            <div class="__product-header">
                <img src="~/images/pic1.jpg" alt="">
                <ul class="icons">
                    <span><i class="bx bx-heart"></i></span>
                    <span><i class="bx bx-shopping-bag"></i></span>
                    <span><i class="bx bx-search"></i></span>
                </ul>
            </div>
            <div class="__product-footer">
                <a href="#"><h3>Boy’s T-Shirt</h3></a>
                <div class="__rating">
                    <i class="bx bxs-star"></i>
                    <i class="bx bxs-star"></i>
                    <i class="bx bxs-star"></i>
                    <i class="bx bxs-star"></i>
                    <i class="bx bx-star"></i>
                </div>
                <h4 class="__price">$50</h4>
            </div>
        </div>
        <div class="__product">
            <div class="__product-header">
                <img src="~/images/pic3.jpg" alt="">
                <ul class="icons">
                    <span><i class="bx bx-heart"></i></span>
                    <span><i class="bx bx-shopping-bag"></i></span>
                    <span><i class="bx bx-search"></i></span>
                </ul>
            </div>
            <div class="__product-footer">
                <a href="#"><h3>Boy’s T-Shirt</h3></a>
                <div class="__rating">
                    <i class="bx bxs-star"></i>
                    <i class="bx bxs-star"></i>
                    <i class="bx bxs-star"></i>
                    <i class="bx bxs-star"></i>
                    <i class="bx bx-star"></i>
                </div>
                <h4 class="__price">$50</h4>
            </div>
        </div>
        <div class="__product">
            <div class="__product-header">
                <img src="~/images/pic4.jpg" alt="">

                <ul class="icons">
                    <span><i class="bx bx-heart"></i></span>
                    <span><i class="bx bx-shopping-bag"></i></span>
                    <span><i class="bx bx-search"></i></span>
                </ul>
            </div>
            <div class="__product-footer">
                <a href="#"><h3>Boy’s T-Shirt</h3></a>
                <div class="__rating">
                    <i class="bx bxs-star"></i>
                    <i class="bx bxs-star"></i>
                    <i class="bx bxs-star"></i>
                    <i class="bx bxs-star"></i>
                    <i class="bx bx-star"></i>
                </div>
                <h4 class="__price">$50</h4>
            </div>
        </div>
    </div>
</section>

<!--Latest -->
<section class="__feature-section __featured">
    <div class="__title">
        <h1>Sản phẩm mới</h1>
        <div>
            <a asp-controller="Product" asp-action="" class="__view-more">Xem thêm</a>
        </div>
    </div>

    <div class="__product-center __container">
        <div class="__product">
            <div class="__product-header">
                <img src="~/images/pic5.jpg" alt="">

                <ul class="icons">
                    <span><i class="bx bx-heart"></i></span>
                    <span><i class="bx bx-shopping-bag"></i></span>
                    <span><i class="bx bx-search"></i></span>
                </ul>
            </div>
            <div class="__product-footer">
                <a href="#"><h3>Boy’s T-Shirt</h3></a>
                <div class="__rating">
                    <i class="bx bxs-star"></i>
                    <i class="bx bxs-star"></i>
                    <i class="bx bxs-star"></i>
                    <i class="bx bxs-star"></i>
                    <i class="bx bx-star"></i>
                </div>
                <h4 class="__price">$50</h4>
            </div>
        </div>
        <div class="__product">
            <div class="__product-header">
                <img src="~/images/pic2.jpg" alt="">

                <ul class="icons">
                    <span><i class="bx bx-heart"></i></span>
                    <span><i class="bx bx-shopping-bag"></i></span>
                    <span><i class="bx bx-search"></i></span>
                </ul>
            </div>
            <div class="__product-footer">
                <a href="#"><h3>Boy’s T-Shirt</h3></a>
                <div class="__rating">
                    <i class="bx bxs-star"></i>
                    <i class="bx bxs-star"></i>
                    <i class="bx bxs-star"></i>
                    <i class="bx bxs-star"></i>
                    <i class="bx bx-star"></i>
                </div>
                <h4 class="__price">$50</h4>
            </div>
        </div>
        <div class="__product">
            <div class="__product-header">
                <img src="~/images/pic1.jpg" alt="">

                <ul class="icons">
                    <span><i class="bx bx-heart"></i></span>
                    <span><i class="bx bx-shopping-bag"></i></span>
                    <span><i class="bx bx-search"></i></span>
                </ul>
            </div>
            <div class="__product-footer">
                <a href="#"><h3>Boy’s T-Shirt</h3></a>
                <div class="__rating">
                    <i class="bx bxs-star"></i>
                    <i class="bx bxs-star"></i>
                    <i class="bx bxs-star"></i>
                    <i class="bx bxs-star"></i>
                    <i class="bx bx-star"></i>
                </div>
                <h4 class="__price">$50</h4>
            </div>
        </div>
        <div class="__product">
            <div class="__product-header">
                <img src="~/images/pic4.jpg" alt="">

                <ul class="icons">
                    <span><i class="bx bx-heart"></i></span>
                    <span><i class="bx bx-shopping-bag"></i></span>
                    <span><i class="bx bx-search"></i></span>
                </ul>
            </div>
            <div class="__product-footer">
                <a href="#"><h3>Boy’s T-Shirt</h3></a>
                <div class="__rating">
                    <i class="bx bxs-star"></i>
                    <i class="bx bxs-star"></i>
                    <i class="bx bxs-star"></i>
                    <i class="bx bxs-star"></i>
                    <i class="bx bx-star"></i>
                </div>
                <h4 class="__price">$50</h4>
            </div>
        </div>
        <div class="__product">
            <div class="__product-header">
                <img src="~/images/pic1.jpg" alt="">

                <ul class="icons">
                    <span><i class="bx bx-heart"></i></span>
                    <span><i class="bx bx-shopping-bag"></i></span>
                    <span><i class="bx bx-search"></i></span>
                </ul>
            </div>
            <div class="__product-footer">
                <a href="#"><h3>Boy’s T-Shirt</h3></a>
                <div class="__rating">
                    <i class="bx bxs-star"></i>
                    <i class="bx bxs-star"></i>
                    <i class="bx bxs-star"></i>
                    <i class="bx bxs-star"></i>
                    <i class="bx bx-star"></i>
                </div>
                <h4 class="__price">$50</h4>
            </div>
        </div>
        <div class="__product">
            <div class="__product-header">
                <img src="~/images/pic3.jpg" alt="">

                <ul class="icons">
                    <span><i class="bx bx-heart"></i></span>
                    <span><i class="bx bx-shopping-bag"></i></span>
                    <span><i class="bx bx-search"></i></span>
                </ul>
            </div>
            <div class="__product-footer">
                <a href="#"><h3>Boy’s T-Shirt</h3></a>
                <div class="__rating">
                    <i class="bx bxs-star"></i>
                    <i class="bx bxs-star"></i>
                    <i class="bx bxs-star"></i>
                    <i class="bx bxs-star"></i>
                    <i class="bx bx-star"></i>
                </div>
                <h4 class="__price">$50</h4>
            </div>
        </div>
        <div class="__product">
            <div class="__product-header">
                <img src="~/images/pic2.jpg" alt="">

                <ul class="icons">
                    <span><i class="bx bx-heart"></i></span>
                    <span><i class="bx bx-shopping-bag"></i></span>
                    <span><i class="bx bx-search"></i></span>
                </ul>
            </div>
            <div class="__product-footer">
                <a href="#"><h3>Boy’s T-Shirt</h3></a>
                <div class="__rating">
                    <i class="bx bxs-star"></i>
                    <i class="bx bxs-star"></i>
                    <i class="bx bxs-star"></i>
                    <i class="bx bxs-star"></i>
                    <i class="bx bx-star"></i>
                </div>
                <h4 class="__price">$50</h4>
            </div>
        </div>
        <div class="__product">
            <div class="__product-header">
                <img src="~/images/pic5.jpg" alt="">

                <ul class="icons">
                    <span><i class="bx bx-heart"></i></span>
                    <span><i class="bx bx-shopping-bag"></i></span>
                    <span><i class="bx bx-search"></i></span>
                </ul>
            </div>
            <div class="__product-footer">
                <a href="#"><h3>Boy’s T-Shirt</h3></a>
                <div class="__rating">
                    <i class="bx bxs-star"></i>
                    <i class="bx bxs-star"></i>
                    <i class="bx bxs-star"></i>
                    <i class="bx bxs-star"></i>
                    <i class="bx bx-star"></i>
                </div>
                <h4 class="__price">$50</h4>
            </div>
        </div>
    </div>
</section>

<!-- Product Banner -->
<section class="__section">
    <div class="__product-banner">
        <div class="__left">
            <img src="~/images/test.jpg" alt="" />
        </div>
        <div class="__right">
            <div class="__content">
                <h2><span class="__discount">70% </span> SALE OFF</h2>
                <h1>
                    <span>Collect Your</span>
                    <span>Kids Collection</span>
                </h1>
                <a class="__btn" href="#">shop now</a>
            </div>
        </div>
    </div>
</section>

<!-- Testimonials -->
<section class="__section">
    <div class="__testimonial-center __container">
        <div class="__testimonial">
            <span>&ldquo;</span>
            <p>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Debitis,
                fugiat labore. Veritatis et omnis consequatur.
            </p>
            <div class="__rating">
                <i class="bx bxs-star"></i>
                <i class="bx bxs-star"></i>
                <i class="bx bxs-star"></i>
                <i class="bx bxs-star"></i>
                <i class="bx bx-star"></i>
            </div>
            <div class="__img-cover">
                <img src="~/images/profile1.jpg" alt="" />
            </div>
            <h4>Will Smith</h4>
        </div>
        <div class="__testimonial">
            <span>&ldquo;</span>
            <p>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Debitis,
                fugiat labore. Veritatis et omnis consequatur.
            </p>
            <div class="__rating">
                <i class="bx bxs-star"></i>
                <i class="bx bxs-star"></i>
                <i class="bx bxs-star"></i>
                <i class="bx bxs-star"></i>
                <i class="bx bx-star"></i>
            </div>
            <div class="__img-cover">
                <img src="~/images/profile2.jpg" alt="" />
            </div>
            <h4>Will Smith</h4>
        </div>
        <div class="__testimonial">
            <span>&ldquo;</span>
            <p>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Debitis,
                fugiat labore. Veritatis et omnis consequatur.
            </p>
            <div class="__rating">
                <i class="bx bxs-star"></i>
                <i class="bx bxs-star"></i>
                <i class="bx bxs-star"></i>
                <i class="bx bxs-star"></i>
                <i class="bx bx-star"></i>
            </div>
            <div class="__img-cover">
                <img src="~/images/profile3.jpg" alt="" />
            </div>
            <h4>Will Smith</h4>
        </div>
    </div>
</section>