 
@{
    ViewData["Title"] = "Giỏ hàng";
}
@model ICollection<Clothing_Store.Models.CartProducts> 

@{ 
    var selectedItemsPrice = 0;
    var numSelectedItem = 0;
}
<div class="__container __cart">
    <form asp-controller="Cart" asp-action="" id="paymentForm">
        <table>
            <tr>
                <th class="col-md-1"></th>
                <th class="col-md-4 col-7 py-4 text-center">Sản phẩm</th>
                <th class="col-md-1 text-center"><div class="d-none d-md-block"> Phân loại </div></th>
                <th class="col-md-2 text-center"><div class="d-none d-md-block"> Chi tiết </div></th>
                <th class="col-md-1 col-2 text-center">Số lượng</th>
                <th class="col-md-2 col-2 text-center">Số tiền</th>
                <th class="col-md-1 col-1 text-center">Thao tác</th>
            </tr>
            @foreach (CartProducts p in Model)
            {
                <tr class="border items_tr">
                    <td class="col-md-1 col-1">
                        <div class="d-flex justify-content-center">
                            <input @(p.IsSelected ? "checked" : "") class="form-check-input w-25 items_select" type="checkbox" name="items_select[]" onchange="changeOrderPrice(this)" value="@(p.ID + "-" + p.Quantity)" id="">
                        </div>
                    </td>
                    <td class="col-md-4 col-7" onclick="location.href = '@(Url.Action("Details", "Product", new { id = p.ProductID }))'">
                        <div class="__cart-info row">
                            <div class="col-12 col-sm-3 px-4 px-sm-0">
                                <img src="~/uploads/product/@p.image.URL" alt="@p.image.Name">
                            </div>
                            <div class="d-sm-flex d-none align-items-center col-0 col-sm-9">
                                <div class="d-flex align-items-center">
                                    <a asp-controller="Product" asp-action="Details" asp-route-id="@p.ProductID" class="fs-2"><p class="text-break"></p>@p.Name</a>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td class="col-md-1 text-center"><div class="d-none d-md-block"> @p.Type </div></td>
                    <td class="col-md-2 text-center"><div class="d-none d-md-block"> @p.Color | Size @p.Size </div></td>
                    <td class="col-md-1 col-2">
                        <div class="d-flex justify-content-center">
                            <input type="number" name="items_quantity[]" value="@(p.Quantity)" min="1" class="_form-input text-center px-0" onchange="changeItemPrice(this)">
                        </div>
                    </td>
                    @{

                        var totalPrice = 0;
                        totalPrice = p.Promotion != 0 ? (p.Price - (p.Price * p.Promotion / 100)) * p.Quantity : p.Price * p.Quantity;

                        if (p.IsSelected)
                        {
                            selectedItemsPrice = selectedItemsPrice + totalPrice;
                            numSelectedItem++;
                        }
                    }

                    <td class="col-md-2 col-2 text-center">
                        <div class="items_price d-none">@totalPrice</div>
                        <div>@(totalPrice.ToString("#,###", System.Globalization.CultureInfo.GetCultureInfo("vi-VN")))đ</div>
                    </td>
                    <td class="col-md-1 col-1">
                        <div class="d-flex justify-content-center">
                            <a asp-action="Remove" asp-route-cartDetailsID="@p.ID" class="text-decoration-none text-center">Xóa</a>
                        </div>
                    </td>
                </tr>
            }

        </table>
    </form>

    <table>
        <tr>
            <td class="col-md-1 py-4">
                <div class="d-none d-sm-block">
                    <div class="d-flex justify-content-center">
                        <input @(Model.Count == numSelectedItem ? "checked" : "") class="form-check-input w-25" type="checkbox" value="" id="check_all" onchange="changeOrderPrice_All(this)">
                    </div>
                </div>
            </td>
            <td class="col-md-2 text-start"><div class="d-none d-sm-block"> Chọn tất cả (@Model.Count) </div></td>
            <td class="col-md-7 text-end">Tổng thành tiền (<span id="num_selected_product">@numSelectedItem</span>): 
                <div class="d-none" id="total_price">@selectedItemsPrice</div>
                <b class="fs-1 text-primary" id="disp_total_price">@(selectedItemsPrice != 0 ? selectedItemsPrice.ToString("#,###", System.Globalization.CultureInfo.GetCultureInfo("vi-VN")) : "0")đ</b>
            </td>
            <td class="col-md-5 text-center"><button id="payment_btn" class="checkout _btn text-light w-75 d-flex justify-content-center">Mua hàng</button></td>
        </tr>
    </table>

</div>

<div class="__wrapper" id="toast_success">
    <div id="toast">
        <div class="container-1">
            <i class='bx bx-cart'></i>
        </div>
        <div class="container-2 my-2">
            <p class="toast-sta"></p>
            <p class="toast-msg"></p>
        </div>
        <button id="close">
            <i class='bx bx-x'></i>
        </button>
    </div>
</div>

<script>
    // cart index: quantity change -> total price of each product change
    function changeItemPrice(_this) {
        var quantity = parseInt(_this.getAttribute("value"))
        var total_price_item = $(_this).closest('.items_tr').find("td:nth-child(6)").children(":first")
        var price_per_product = total_price_item[0].innerHTML / quantity
        var isProductSelected = $(_this).closest('.items_tr').find("td:nth-child(1)").find('.items_select').prop("checked")

        var new_total_price = price_per_product * $(_this).val()
        if (isProductSelected) {
            var order_total_price = ($('#total_price').text() * 1) - (total_price_item[0].innerHTML * 1) + new_total_price
        }

        total_price_item[0].innerHTML = new_total_price

        total_price_item.next().text(new_total_price.toLocaleString('it-IT', { currency: 'VND' }) + "đ")
        _this.setAttribute('value', $(_this).val())

        if (isProductSelected) {
            $('#total_price').text(order_total_price)
            $('#total_price').next().text(order_total_price.toLocaleString('it-IT', { currency: 'VND' }) + "đ")
        }

        // add quantity to input checkbox value
        var quantity_checkbox = $(_this).closest('.items_tr').find("td:nth-child(1)").find("input")[0]
        quantity_checkbox.setAttribute('value', quantity_checkbox.value.substring(0, quantity_checkbox.value.indexOf("-") + 1) + $(_this).val())

    }

    function changeOrderPrice(_this) {
        $('#num_selected_product').text(document.querySelectorAll("input.items_select[type=checkbox]:checked").length)
        var total_price = $('#total_price').text() * 1
        var total_price_item = $(_this).closest('.items_tr').find("td:nth-child(6)").children(":first")[0].innerHTML * 1

        var new_total_price = 0
        if ($(_this).prop('checked')) {
            new_total_price = total_price + total_price_item
        } else {
            new_total_price = total_price - total_price_item
        }

        $('#total_price').text(new_total_price)
        $('#total_price').next().text(new_total_price.toLocaleString('it-IT', { currency: 'VND' }) + "đ")

    }

    function changeOrderPrice_All(_this) {
        if ($(_this).prop('checked')) {
            //console.log($('input.items_select[type=checkbox]:checked'))
            $('input.items_select[type=checkbox]:checked').prop('checked', false).trigger('change');
        }

        $('input.items_select[type=checkbox]').prop('checked', $(_this).prop('checked')).trigger('change');
    }


</script>




